@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
}

body {
    background-color: black;
}

.main {
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: max(1500px, 100vw);
    height: 70vh;
    width: 100vw;
    position: relative;
}

.main .box {
    height: 70vh;
    background-color: black;
    width: 100%;
    position: absolute;
    top: 0;
    opacity: 0.5;
}

nav {
    height: 50px;
    width: 60vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav img {
    width: 110px;
    position: relative;
    opacity: 0.8;
    z-index: 1;
}

.btn {
    position: relative;
    opacity: 0.8;
    z-index: 1;
}

.box1 {
    position: relative;
    height: 90%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
}

.box1> :nth-child(1) {
    font-weight: 800;
    font-size: 35px;
    text-align: center;
}

.box1> :nth-child(2) {
    font-weight: 300;
    font-size: 23px;
    text-align: center;
}

.box1> :nth-child(3) {
    font-weight: 300;
    font-size: 18px;
    text-align: center;
}

.line {
    background-color: rgb(67, 66, 66);
    height: 8px;
    position: relative;
    z-index: 1;
}

.btn1 {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 5px 20px;
    font-weight: 300;
    cursor: pointer;
}

.btn2 {
    font-weight: bold;
    font-size: 15px;
    font-size: 13px;
    padding: 5px 5px;
    background-color: rgb(202, 4, 4);
    font-weight: 300;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.btn3 {
    font-size: large;
    padding: 5px 25px;
    background-color: rgb(188, 7, 7);
    font-weight: 500;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.main input {
    font-weight: 500;
    font-size: 12px;
    color: white;
    font-weight: 500;
    padding: 9px 90px 10px 7px;
    background-color: rgba(21, 21, 21, 0.547);
    border: 1px solid rgba(255, 255, 255, 0.544);
}

.all {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.first {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    max-width: 100vw;
    margin: auto;
    position: relative;
    top: 10px;
    bottom: 30px;
}

.tt {
    display: flex;
    flex-direction: column;
}

.tt :nth-child(1) {
    font-weight: 900;
    font-size: 30px;
}

.tt :nth-child(2) {
    font-weight: 200;
    font-size: 15px;
}

.tv {
    position: relative;
    z-index: 1;
}

.tv img {
    position: relative;
    z-index: 1;
}

.tv video {
    position: absolute;
    right: 75px;
    top: 80px;
}

.faq {
    padding: 10px;
    max-width: 60vw;
    margin: auto;
}

.faq h2 {
    color: white;
    text-align: center;
    padding: 23px;
    font-size: 35px;
    font-weight: 300;
}

@media screen and (max-width: 800px) {
    .first {
        flex-wrap: wrap;
    }

    .first img {
        width: 500px;
    }

    .first video {
        width: 350px;
    }
}

.tet {
    color: white;
    background-color: rgb(43, 43, 43);
    font-size: 20px;
    margin: 10px;
    padding: 15px;
    cursor: pointer;
    transition: all 1s ease-out;
}

.tet:hover {
    background-color: rgba(42, 41, 41, 0.805);
    transition: all 1s ease-out;
}

.fo span {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 20px;
}

footer {
    max-width: 60vw;
    margin: auto;
    padding: 10px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 20px;
}

.questions {
    padding: 20px;
    color: white;
    font-size: 15px;
}

.footer-item a {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 12px;
    cursor: pointer;
}

a:hover {
    color: red;
}

@media screen and (max-width: 800px) {
    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        padding: 33px;
    }
}